body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #dff2eb;
  margin: 0;
  padding: 20px;
  color: #495057;
}

h1 {
  color: #343a40;
  text-align: center;
  margin-bottom: 17px;
  font-size: 2.1em;
}

.form-container {
  background-color: #b9e5e8;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  margin: 0 auto;
  transition: box-shadow 0.3s ease;
}

.form-container:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 1.1em;
}

input[type="number"],
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

input[type="number"]:focus,
select:focus {
  border-color: #4a628a;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container a {
  display: block;
  margin-top: 5px;
}

.centered-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.centered-div p,
.centered-div input,
.centered-div a {
  margin: 10px 0;
}

input[type="submit"] {
  background-color: #4885a9;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

input[type="submit"]:hover {
  background-color: #4365a0;
}

span {
  display: block;
  margin-top: 15px;
  text-align: center;
  font-size: 1em;
}

a {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  color: #007bff;
  text-decoration: none;
  font-size: 1em;
}

a:hover {
  text-decoration: underline;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icon {
  width: 100px;
  cursor: pointer;
  margin: 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.icon:hover {
  border-color: #4885a9; /* Highlight icon on hover */
  transform: scale(1.02);
}

#emoji {
  font-size: 3em;
}
.selected {
  border: 2px solid #4885a9;
  border-radius: 5px;
}
